<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'appl_1_app:form_1' %}"><p>Форма номер 1</p></a></li>
    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'appl_1_app:get_new' %}"><p>get</p></a></li> {% endcomment %}
    <li class="nav-item"><a class="nav-link" href="{% url 'appl_1_app:form_2' %}"><p>Форма номер 2</p></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'appl_1_app:form_3' %}"><p>Форма номер 3</p></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'appl_1_app:result' %}"><p>Результат</p></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'appl_1_app:table' %}"><p>Таблица</p></a></li>
</ul>
